<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/form.css" />
  </head>
  <body>
    <%- include('../partials/nav.ejs'); %>
    <div class="content">
      <h1><%= pageTitle %></h1>
      <form action="/jobApps" method="POST">
        <div class="field">
          <label for="company">Company</label>
          <input type="text" name="company" id="company" />
        </div>
        <div class="field">
          <label for="title">Job Title</label>
          <input type="text" name="title" id="title" />
        </div>
        <div class="field">
          <label for="status">Application Status</label>
          <select name="status" id="status">
            <option value="Applied">Applied</option>
            <option value="Interviewing">Interviewing</option>
            <option value="Offer">Offer</option>
            <option value="Rejected">Rejected</option>
          </select>
        </div>
        <div class="field">
          <label for="source">Application Source</label>
          <select name="source" id="source">
            <option value="LinkedIn">LinkedIn</option>
            <option value="Indeed">Indeed</option>
            <option value="Company Site">Company Site</option>
            <option value="Networking">Networking</option>
          </select>
        </div>
        <div class="field">
          <label for="priority">Application Priority</label>
          <select name="priority" id="priority">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
        </div>

        <div class="field">
          <label for="url">Link</label>
          <input type="text" name="url" id="url" />
        </div>
        <div class="field">
          <label for="archived">Archived</label>
          <input type="checkbox" name="archived" id="archived" />
        </div>
        <div class="field">
          <label for="appliedAt">Application Date</label>
          <input type="date" name="appliedAt" id="appliedAt" />
        </div>
        <div class="actions">
          <button type="submit">Add New Application</button>
        </div>
      </form>
    </div>
  </body>
</html>
