<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include('../partials/nav.ejs');%>
    <h1><%= pageTitle %></h1>
    <form action="/jobApps/<%=jobApp._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete Application</button>
    </form>
  </body>
</html>
